/* Setting custom CSS variables */
body {
  --nav-load-time: 600ms; /* Custom variable for navigation load time */
  --about-me-load-delay: calc(var(--nav-load-time)) + 200ms; /* Custom variable for delay in loading the about me section */
}

.sectionAboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 50vh;
  padding: 2% 3% 5% 2%;
  margin: 0 10% 0 10%;
  animation: blowUpModal .9s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
@keyframes blowUpModal {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}

.aboutMe {
  padding: 1% 5%;
  animation: about-me-load 600ms ease-in; /* Animation for loading the about me section */
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
  color: #c8d6ea;
 
}
span {
  color: #0a9dae;
}
.aboutMe h3 {
  font-size: 50rem;
  font-weight: 100;
}
/* 
#myPicture {
  height: 550px;
  width: 290px;
  border-radius: 50px;
} */

.aboutMe {
  display: block;
  position: relative;
  z-index: 1;
}

/* Animation for the about me section */
@keyframes about-me-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.myBlock {
  position: relative;
  width: 55vw;
  border-radius: 18px;
  height: 400px;
  margin: 10px auto 0;
  margin-left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.myGlow::before,
.myGlow::after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 18px;
  background: linear-gradient(
    -45deg,
    #0a9dae,
    #0606dd,
    #0e86d0,
    #0ae65e,
    #fb4305,
    #1cd5ea,
    #0b4045,
    #0606dd
  );
  background-size: 400%;
  height: calc(100% + 5px);
  width: calc(100% + 5px);
  z-index: -1;
  animation: change 65s linear infinite; /* Animation for changing the background gradient */
}

@keyframes change {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.myGlow::after {
  filter: blur(40px);
  opacity: 0.5;
}
@media only screen and (width: 2560px) {
  .myBlock {
    width: 25vw;
  }
}

@media only screen and (max-width: 1440px) {
  .myBlock {
    width: 11vw;
  }
  .leftSideData {
    width: 85%;
    margin-right: 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .aboutMe {
    padding: 0;
  }
  .sectionAboutMe {
    margin: 0;
  }
  .myBlock {
    width: 20vw;
  }

  .leftSideData {
    width: 85%;
  }
}

.contentAboutMe {
  color: white;
}
@media only screen and (max-width: 768px) {
  .sectionAboutMe {
    flex-direction: column-reverse;
  }
  .myGlow {
    width: 12rem;
    margin: 20px 0;
  }

  .contentAboutMe {
    font-size: 30px;
  }
}

@media only screen and (max-width: 425px) {
  .sectionAboutMe {
    flex-direction: column-reverse; /* Reverse the order of flex items in smaller screen */
    margin: 0;
  }
  .myGlow {
    width: 14rem;
    margin: 20px 0;
  }
  .aboutMe {
    font-size: 30px;
  }
  span {
    height: 18vh;
  }
}
.potatoes{
  margin-top: 40px;
  color: #0a9dae;
  font-family: cursive;
}
.potatoesCentered{
  justify-content: center;
  align-items: center;
  margin-left: 280px;
}