.node {
  height: 80px;
  width: 90px;
  /* Adding reflection for effect for images */
  -webkit-box-reflect: below 5px -webkit-gradient(
      linear,
      right top,
      right bottom,
      from(transparent),
      to(rgba(255, 255, 255, 0.4))
    );
    margin-bottom: 20px;
    padding: 0px;
}
.resumePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 15vh;
}

.downloadLink {
  width: fit-content;
  text-decoration: none;
  color: #0a9dae;
  font-size: 30px;
  display: flex;
  align-items: center;
  border: 1px solid #0a9dae;
  border-radius: 40px;
  padding: 5px 50px;
  transition: 1s ease-in-out;
}
.downloadLink:hover {
  background-color: #0a9dae;
  box-shadow: 0 0 1rem #0a9dae;

  color: #010213;
}
.downloadLink > i {
  font-size: 40px;
}

.logoWrappers {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top:20vh
}
@media only screen and (max-width: 425px) {
  .resumePage{
   flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-bottom: 0;

  }
  .logoWrappers {
    margin-top: 5vh;
    margin-bottom: 3vh;
  }
  .resumePage{
    margin-top: 5vh;
  }
  .downloadLink{
    width:35%;
    padding:5px;
    font-size: 10px;
  }
}
