body {
  --footer-load-time: 600ms;
}

footer {
  position: absolute;
  width: 100%;
  margin-bottom: 0;
  padding: 10px 0px;
  background-color: #010213;
  display: flex;
  color: #0a9dae;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  animation: footer-load var(--footer-load-time) ease-in;
  animation-duration: 300ms;
  /* animation-timing-function: ease-in; */
  /* animation-delay: 600ms; */
  animation-fill-mode: forwards;
  transform: scale(0);
}
.socialLinks a {
  /* display: flex;
  gap: 20px; */
display: inline-flex;
justify-content: center;
align-items: center;
width: 3rem;
height: 3rem;
background: transparent;
border: .2rem solid #0a9dae;
border-radius: 50%;
font-size: 2rem;
color: #0a9dae;
margin: 3rem 1.5rem 0rem 3rem;
transition: 1s ease;


}

.socialLinks a:hover {
  background: #0a9dae;
  color: #010213;
  box-shadow: 0 0 1rem #0a9dae;
}


@keyframes footer-load {
    0% {
            transform: translateY(+100%);
    }
    100%{

        transform: translateY(0);

    }
}