footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px 0px;
    background-color: #ff0000;
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.socialLinks{
    display: flex;
    gap: 20px;
}
.socialLinks img{
    height: 50px;
    width: 50px;
}