body {
  --nav-load-time: 600ms;
}

nav {
  display: flex;
  gap: 15px;
}

.link1 {
  padding: 0px 30px;
  border-radius: 10px;
  text-decoration: none;
  color: #0a9dae;
  font-size: large;
  animation-name: nav-link1-load;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-delay: 600ms;
  animation-fill-mode: forwards;
  transform: scale(0);
}
.link2 {
  padding: 0px 30px;
  border-radius: 10px;
  text-decoration: none;
  color: #0a9dae;
  font-size: large;
  animation-name: nav-link2-load;
  animation-duration: 400ms;
  animation-timing-function: ease-in;
  animation-delay: 600ms;
  animation-fill-mode: forwards;
  transform: scale(0);
}
.link3 {
  padding: 0px 30px;
  border-radius: 10px;
  text-decoration: none;
  color: #0a9dae;
  font-size: large;
  animation-name: nav-link3-load;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-delay: 600ms;
  animation-fill-mode: forwards;
  transform: scale(0);
}
.link4 {
  padding: 0px 30px;
  border-radius: 10px;
  text-decoration: none;
  color: #0a9dae;
  font-size: large;
  animation-name: nav-link4-load;
  animation-duration: 600ms;
  animation-timing-function: ease-in;
  animation-delay: 600ms;
  animation-fill-mode: forwards;
  transform: scale(0);
}
/* .link1.active{
  background-color: #0a9dae;
  color: #010213;
  box-shadow: 0 0 1rem #0a9dae;
} */
.links:hover
 {
  background: #0a9dae;
  color: #010213;
  box-shadow: 0 0 1rem #0a9dae;
  transition: 0.9s ease;
}

@keyframes nav-link1-load {
  0% {
    transform: translateY(-100%);
  }
  
  100% {
    transform: translateY(0);
  }
}




@keyframes nav-link2-load {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}




@keyframes nav-link3-load {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}




@keyframes nav-link4-load {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

header > i {
  display: none;
}

@media only screen and (max-width: 432px) {
  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  header i {
    color: #0a9dae;
    font-size: 60px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
  }

  nav > .links {
    display: none;
    visibility: hidden;
    margin: 10px 0px;
  }
 

  .visible {
    position: fixed;
    right: 0;
    left: 0;
    margin-top: 10px;
    gap: 20px;
    top: 80px;
    width: inherit;
    background-color: #000003;
    z-index: 100;
    box-shadow: 0px 9px 15px 0px rgba(10, 157, 174, 0.71);
  }

  .visible > .links {
    display: block;
    visibility: visible;
  }

  .notVisible {
    display: none;
  }
}
